<head>
  {{ partial "head/meta" . }}
  <title>{{ partial "data/title" . }}</title>
  <link rel='canonical' href='{{ .Permalink }}'>
  {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  {{ end }}
  {{ partial "head/hreflang" . }}
  {{ partial "head/includes" . }}
  {{ partial "head/extra" . }}
      <link rel="stylesheet" href="{{"https://www.thewayir.com/css/tomorrow.css" | absURL}}" rel="stylesheet" id="theme-stylesheet">
      <script src="{{ "https://www.thewayir.com/js/highlight.pack.js" | absURL }}"></script>
      <script>hljs.initHighlightingOnLoad();</script>
      
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134141840-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-134141840-1');
</script>
    
</head>
